.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    border-radius: 30px;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}

.header-contents p{
    color: white;
    font-size: 1vw;
}

.header-contents button{
    border: none;
    color: #005B41;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    position: relative;
}
.header-contents button:hover{
    background-color: #000;
    color: #fff;
}
.menu-container{
    position: absolute;
    margin-top: 26rem;
    margin-left: 9rem;
    padding: 1rem 4rem 1rem 2rem;
    background-color: #e0f6ee;
    border: 1px solid #008170;
    border-radius: 8px;
}
.menu-container ul{
    list-style-type: none;
    padding: 0;
}
.menu-container ul li{
    cursor: pointer;
    padding: 5px 0px;
    font-size: 1.2rem;
    margin-bottom: 2px; 
    color: #005B41;
}
.menu-container ul li:hover{
    text-decoration: underline #008170;

}

@media (max-width:1050px) {
    .header-contents{
        max-width: 45%;
    }
    .menu-container{
        margin-top: 14.5rem;
        margin-left: 0;
    }
}

@media (max-width:750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents h2{
    font-size: max(2.5vw,20px);
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 1vw 3vw;
    }
    .menu-container{
        margin-top: 5.5rem;
        margin-left: 0;
        padding: 10px 1rem;
    }
    .menu-container ul li{
        padding: 5px 0px;
        font-size: 13px;
        margin-bottom: 0;
    }
}