.cart{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cart-items{
    flex: 2;
    margin-right: 10px;
}
.cart-items-item{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(130px,2fr));
    width: 70%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 25px;
    padding: 30px 0px 30px 5px;
}
.cart-image img{
    width: 80px;
    height: 80px;
    border-radius: 15px;
    cursor: pointer;
}
.cart-info{
    position: relative;
    cursor: pointer;
}
.cart-info p{
    margin-bottom: 5px;
}
.cart-info .item-total-price{
    margin-left: 14rem;
    padding-bottom: 2px;
    display: flex;
}
.cart-item-counter{
    position: absolute;
    bottom: 5rem;
    left: 14rem;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 6px;
    background-color: white;
}
.cart-right-side{
    margin-top: 0px;
    display: grid;
    justify-content: space-between;
    gap: max(0vw,20px);
}
.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 25px;
    padding: 30px 3rem 30px 3rem;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.cart-total hr{
    margin: 10px 0px;
}
.cart-total button{
    border: none;
    color: white;
    background-color: tomato;
    width: max(25vw,200px);
    padding: 14px 0px;
    border-radius: 4px;
    cursor: pointer;
}
.cart-promocode{
    margin-top: 0px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 25px;
    padding: 30px 3rem 30px 3rem;
}
.cart-promocode p{
    color: #555;
}
.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}
.cart-promocode-input input{
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}
.cart-promocode-input button{
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
}




