.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo {
    width: 150px;
    height: 50px;
}
.navbar-menu {
    list-style: none;
    display: flex;
    font-size: 18px;
    gap: 20px;
    color: #005B41;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar-right button {
    background: transparent;
    font-size: 16px;
    color: #005B41;
    border: 1px solid #008170;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar-right button:hover {
    background-color: #e0f6ee;
}
.navbar-menu a,
.navbar-menu .active {
    text-decoration: none;
    padding: 10px 10px;
    display: inline-block;
    line-height: 1.5;
    transition: background 0.3s, border 0.3s;
}
.navbar-menu .active {
    background: transparent;
    border: 2px solid #008170;
    border-radius: 10px;
}
.navbar-menu a:hover {
    border: 2px solid #5C8374;
    border-radius: 10px;
}
.navbar-search-icon {
    position: relative;
}
.cart-counter {
    color: #008170;
    font-size: 12px;
    border-radius: 50%;
    padding: 5px 8px;
    position: absolute;
    top: -12px;
    right: -4px;
    min-width: 20px;
    text-align: center;
    font-weight: bold;
}
.navbar-profile{
    position: relative;
}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #e0f6ee;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid  #008170;
    outline: 2px solid white;
    list-style: none;
}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.nav-profile-dropdown li:hover{
    color: #005B41;
}


@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px) {
    .navbar-menu {
        display: none;
    }
}